

<!DOCTYPE html>
<html>
<body >
<script type="text/javascript">
    <!--
    function closeWin() {
        self.opener = self;
        window.close();
    }
    // -->
</script>

<RESULT>SUCCESS</RESULT>
<input type='BUTTON' value=" 창닫기" onClick='window.close()'>


</body>
</html>
