body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


div {
  padding-bottom: 30px;
}
.form-row {
  padding: 16px;
  font-size: 14px;
}

div#login-wrapper{
  padding: 100px;
  position: absolute;
  border : solid 1px gray;
}

button {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(10, 119, 13);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


/*button {*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  padding: 14px 20px;*/
/*  margin: 8px 0;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  width: 100%;*/
/*  opacity: 0.9;*/
/*}*/


/*.form-header{*/
/*  padding: 16px;*/
/*}*/